-#   Copyright (c) 2010-2011, Lygneo Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%ul#group_nav.left_nav.sub
  %li.all_groups
    = link_to t('streams.groups.title'), groups_path, :class => 'home_selector', :rel => 'backbone'

    %ul#groups_list.sub_nav
