-#   Copyright (c) 2010-2011, Lygneo Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-5.append-1
  = render 'followers/group_listings'

  %hr

  %ul.left_nav
    - if AppConfig.settings.popular.enable?
      %li{:class => ("active" if @spotlight)}
        = link_to t('followers.spotlight.popular'), popular_path, :class => "element_selector"
